
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  text-align:center;
  // margin: 30px auto;
}
/****************************/

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

#box_name,#admin_name,#admin_mail,#admin_password,#user_name,#user_mail,#user_password {
  // position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#box_max_vertical,#box_max_side{
  // position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

input[type="button"] {
  height:100px;
  width:100px;
  // position: relative;
  font-size: 16px;
  // height: auto;
  // padding: 10px;
  // width: 400px;
  margin: 0 auto;
}
input[type="submit"]:hover {
  background-color:rgba(233, 180, 224, 0.8);
}


input[type="submit"] {
  height:80px;
  width:120px;
  font-size: 16px;
  margin: 0 auto;
  // position: relative;
  // height: auto;
  // padding: 10px;
  // width: 400px;
}

button[type="submit"] {
  font-size: 16px;
  height: auto;
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
}

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  width: 400px;
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  width: 400px;
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.field.buton{
  display: flex;
  margin-top:20px;
}

a{
  display: block;
  display: flex;
  justify-content: center;}
label {
  display: block;
  display: flex;
  justify-content: center;
}
div {
  &.field {
    margin-bottom: 10px;
    // display: flex;
    // justify-content: center;
  }
}
/****************************/

// #panel {
//   overflow: hidden;
//   border-radius :7px;
//   /* box-shadow: 1px 1px 3px rgba(0,0,0, .5); */
//   margin:0 auto;
//   /* cursor: move; */
// }

#input{
  width: 50px;
}

// .btn{
//   /* width:50%; */
// }

/* 裏の状態 */
.in {
  /* background-image: url('/img/kutsu.jpg'); */
  background-color:#000;
  background-size: 60px 80px;
}
/* 終了時 */
.finish {
  opacity: 0;
  /* cursor: default; */
}
/* 経過秒数 */
#result {
  font-size: 1.2em;
  font-weight: bold;
}

.cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 1001;
  cursor: none;
  pointer-events: none;
}

img {
  width: 100%;
}

